@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Herr+Von+Muellerhoff&family=Source+Sans+Pro:wght@400;900&display=swap');

@import 'config';
@import 'utilities';
@import 'mobile';
@import 'form';
@import 'animation';

/* Universal rule set */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Style */
html {
    font-family: $body-font;
    font-size: 10px;
    color: $body-font-color;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* Headline */
.global-headline {
    text-align: center;
    margin-top: 3.9rem;
}

.headline {
    color: #fff;
    font-size: 3.7rem;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.sub-headline {
    font-size: 8.5rem;
    font-family: $secondary-font;
    color: $secondary-font-color;
    font-weight: 100;
    line-height: .4; /* Everything closer*/
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards ease;
    animation-delay: .5s;

    .first-letter {
        text-transform: uppercase;
        font-size: 10.3rem;
    }
}

.headline-dark { /* Second */
    color: $main-font-color-dark;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

/* Header */
header {
    width: 100%;
    position: absolute; /* Absolute will be floating */
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0, 0, .5), transparent);

    .nav {
        height: 7.2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .menu-toggle {
            color: #fff;
            font-size: 2.2rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2.5rem;
            cursor: pointer;
            z-index: 1500;

  

            .fa-times {
                display: none;
            }
        }

        .nav-list {
            list-style: none;
            position: fixed; /* fixed is float to the left */
            top: 0;
            left: 0;
            width: 80%;
            height: 100vh;
            background-color: $main-font-color-dark;
            padding: 4.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 1250;
            transform: translateX(-100%);
            transition: transform .5s;

            .nav-item {
                border-bottom: 2px solid rgba(255, 255, 255, .3);


                .nav-link {
                    display: #000;
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                    letter-spacing: 2px;
                    margin-right: -2px;
                    transitioN: color .5s;

                    &:hover {
                        color: $secondary-font-color;
                    }
                }
            }

        }

        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, .8);
            z-index: 1000;
            opacity: 0; /* Now 0 but JavaScript shows up */
            transform: scale(0);
            transition: opacity .5s;
        }
    }
}

/* Toggle */

body {

    &.open {

        nav {

            &::before {
                opacity: 1;
                transform: scale(1);
            }

            .menu-toggle {

                .fa-times {
                    display: block;
                }
            
                .fa-bars {
                    display: none;
                }
            }
        
            .nav-list {
                transform: translateX(0);
            }
        }
    } 
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background: url("/images/hero.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .headline {
        color: #fff;
        font-size: 3.7rem;
        font-family: $main-font;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: .5rem;
        margin-right: -.5rem;
    }

    .headline-description {


        .single-animation {

            
            h5 {
                color: #fff;
                font-size: 1.4rem;
                font-weight: 100;
                text-transform: uppercase;
                margin-bottom: 1.2rem;
                letter-spacing: 3px;
                margin-right: .3px;
            }
        }
    }
}


/* Discover our story */
.discover-our-story {

    .restaurant-info {
        text-align: center;

        .restaurant-description {
            margin-bottom: 2rem;

            p {
                line-height: 1.6;
                margin-bottom: 2.4rem;
            }
        }
    }

    .global-headline {
        text-align: center;
        margin-top: 6.9rem;

        .sub-headline { /* Third */
            letter-spacing: -1rem;
            line-height: .42;
        }

        .headline-dark { /* Second */
            color: $main-font-color-dark;
            letter-spacing: .7rem;
            margin-right: -.7rem;
        }

        .asterisk { /* I did at the first */
            color: $body-font-color;
            margin: 2.4rem 0;
        }
    }
}


/* Tasteful recipes */
.tasteful-recipes {
    background: url("/images/tasteful-recipes.jpg") center no-repeat;
    background-size: cover;
}

.between {
    min-height: 65vh;
    display: flex;
    align-items: center;;
}

/* Discover our menu */
.discover-our-menu {

    .menu-info {
        text-align: center;

        .menu-description {
            padding-top: 3rem;
            margin-bottom: 0;

            p {
                line-height: 1.6;
                margin-bottom: 2.4rem;
            }
        }
    }

    .global-headline {
        text-align: center;
        margin-top: 6.9rem;

        .sub-headline { /* Third */
            letter-spacing: -1rem;
            line-height: .42;
        }

        .headline-dark { /* Second */
            color: $main-font-color-dark;
            letter-spacing: .7rem;
            margin-right: -.7rem;
        }

        .asterisk { /* I did at the first */
            color: $body-font-color;
            margin: 2.4rem 0;
        }
    }
}

/* The perfect blend */
.perfect-blend {
    background: url("/images/perfect-blend.jpg") center no-repeat;
    background-size: cover;
}

/* Culnary delight */ 
.culnary-delight {

    .culnary-info {
    text-align: center;

        .culnary-description {
            margin-bottom: 2rem;

            p {
                line-height: 1.6;
                margin-bottom: 2.4rem;
            }
        }
    }

    .global-headline {
        text-align: center;
        margin-top: 6.9rem;

        .sub-headline { /* Third */
            letter-spacing: -1rem;
            line-height: .42;
        }

        .headline-dark { /* Second */
            color: $main-font-color-dark;
            letter-spacing: .7rem;
            margin-right: -.7rem;
        }

        .asterisk { /* I did at the first */
            color: $body-font-color;
            margin: 2.4rem 0;
        }

    }
}

/* Footer */
footer {
    padding: 7.9rem;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;

    .back-to-top {
        width: 7rem;
        height: 7rem;
        background-color: #121212;
        position: absolute;
        top: -3rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;

        i {
            display: block;
            color: #fff;
            padding: 2rem;
            animation: up 2s infinite;
        }
    }

    .footer-content {
        overflow: hidden;

        .footer-content-about {
            margin-bottom: 5.4rem;   

            h4 {
                font-size: 1.9rem;
                text-transform: uppercase;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom: 3rem;
            }
    
            .asterisk {
                margin: 2.4rem 0;   
            }

            p {
                line-height: 2;
            }
        }

        .footer-content-divider {

            .social-media {

                h4 {
                    font-size: 1.9rem;
                    text-transform: uppercase;
                    font-weight: 100;
                    letter-spacing: 3px;
                    margin-bottom: 3rem;
                }

                .social-icons {
                    list-style: none;
                    margin-bottom: 5.4rem;
                    display: flex;
                    justify-content: center;

                    i {
                        font-size: 2.2rem;
                        color: #fff;
                        padding: .8rem 2rem;
                        opacity: .5;
                        transition:  color .5s;

                        &:hover,
                        &:focus {
                            color: $secondary-font-color;
                        }
                    }
                }
            }
        }

        .newsletter-form {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;

            h4 {
                font-size: 1.9rem;
                text-transform: uppercase;
                font-weight: 100;
                letter-spacing: 3px;
                margin-bottom: 3rem;
            }

            .newsletter-input {
                width: 100%;
                max-width: 25rem;
                padding: 1rem;
                border-radius: .4rem;
            }

            .newsletter-btn {
                background-color: transparent;
                border: none;
                color: $main-font-color-dark;
                cursor: pointer;
                font-size: 1.6rem;
                padding: 1px .6rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 20.5rem;
            }
        }
    }
}